# 선행 연구들 기반으로 단어 리스트별 상관 분석해보기

## Baek et al.(2023)
Proficiency versus lexical processing efficiency as a measure of L2
lexical quality: Individual differences in word‑frequency effects in L2
visual word recognition

In [23]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [24]:
HF_df = pd.DataFrame(
    {
        'Word': ['right', 'think', 'never', 'sorry', 'thank', 'love', 'maybe', 'help', 'these', 'night', 'first', 'great', 'life', 'still', 'those', 'other', 'stop', 'name', 'money', 'place', 'kind', 'hello', 'years', 'leave', 'girl', 'three', 'wrong', 'might', 'house', 'baby'],
        'L1_Freq': [5.31, 5.14, 4.84, 4.78, 4.76, 4.76, 4.67, 4.67, 4.66, 4.65, 4.63, 4.62, 4.61, 4.60, 4.58, 4.57, 4.56, 4.52, 4.51, 4.49, 4.48, 4.48, 4.46, 4.46, 4.45, 4.44, 4.43, 4.42, 4.42, 4.42],
    }
)
HF_df.describe()

         L1_Freq
count  30.000000
mean    4.613000
std     0.205177
min     4.420000
25%     4.465000
50%     4.575000
75%     4.667500
max     5.310000

In [25]:
LF_df = pd.DataFrame(
    {
        'Word': ['skirt', 'creek', 'laser', 'stove', 'chili', 
                 'armor', 'draft', 'jelly', 'shelf', 'hobby', 
                 'tubes', 'peach', 'booty', 'cloth', 'debts', 
                 'glue', 'spine', 'clip', 'tomb', 'scope', 
                 'dove', 'vest', 'lone', 'buyer', 'mode', 
                 'waist', 'thorn', 'flick', 'hound', 'crow'],
        'L1_Freq': [2.71, 2.66, 2.64, 2.59, 2.58, 
                    2.57, 2.57, 2.56, 2.55, 2.55, 
                    2.53, 2.51, 2.50, 2.49, 2.49, 
                    2.48, 2.47, 2.46, 2.46, 2.46, 
                    2.46, 2.46, 2.43, 2.42, 2.42, 
                    2.42, 2.42, 2.41, 2.41, 2.36],
    }
)
LF_df.describe()

         L1_Freq
count  30.000000
mean    2.501333
std     0.082827
min     2.360000
25%     2.437500
50%     2.485000
75%     2.557500
max     2.710000

In [26]:
CSAT_lexicon_proj_file_path = os.path.join(os.path.dirname(os.path.dirname(Path.cwd())), 'Corpora', 'merged_corpora', 'CSAT_E_lexicon.xlsx')

In [27]:
df = pd.read_excel(CSAT_lexicon_proj_file_path)
df

,Word,Length,CSAT_Freq,CSAT_only_Freq,Textbook_only_Freq,Freq_HAL,SUBTLWF,CSAT_RFreq,CSAT_only_RFreq,Textbook_only_RFreq,Ortho_N_CSAT,Ortho_N_CSAT(only),Ortho_N_Textbook(only),Ortho_N,OLD20_CSAT,OLD20_CSAT(only),OLD20_Textbook(only),OLD,SUBTLCD,POS
0,a,1,1284.0,1098.0,186.0,10610626,20415.27,0.001284,0.001098,0.000186,1.0,1.0,1.0,1,1.5,1.5,1.65,1.45,99.93,minor|NN
1,aah,3,NaN,NaN,NaN,222,52.71,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,1.85,7.56,NaN
2,aaron,5,NaN,NaN,NaN,10806,14.65,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,1.85,1.93,NN
3,aback,5,NaN,NaN,NaN,387,0.29,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,1.95,0.18,RB
4,abacus,6,NaN,NaN,NaN,513,0.24,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,2.90,0.12,NN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40476,zoom,4,NaN,NaN,NaN,4920,3.55,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,1.70,1.29,VB|NN
40477,zooming,7,NaN,NaN,NaN,523,0.63,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,1.85,0.31,VB
40478,zooms,5,NaN,NaN,NaN,385,0.06,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,1.80,0.04,VB
40479,zucchini,8,NaN,NaN,NaN,314,0.96,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,3.75,0.25,NN
40480,zurich,6,NaN,NaN,NaN,1770,2.43,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,2.80,0.74,NN

야 조졌다. 왜 이건 또 상관이 많이 다를까..?

In [28]:
pd.merge(df, HF_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.713434
CSAT_Freq  0.713434   1.000000

In [31]:
pd.merge(df, LF_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.074735
CSAT_Freq  0.074735   1.000000

In [29]:
pd.merge(df, HF_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000   0.199867
CSAT_Freq  0.199867   1.000000

In [32]:
pd.merge(df, LF_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000  -0.258333
CSAT_Freq -0.258333   1.000000

그렇다면 상관이 높은 것 찾아보자. HAL이나 SUBTLEX랑은 비슷하겠지?

In [30]:
pd.merge(df, HF_df, how='inner', on='Word')[['Freq_HAL', 'SUBTLWF']].corr()

          Freq_HAL   SUBTLWF
Freq_HAL  1.000000  0.327154
SUBTLWF   0.327154  1.000000

In [33]:
pd.merge(df, LF_df, how='inner', on='Word')[['Freq_HAL', 'SUBTLWF']].corr()

          Freq_HAL   SUBTLWF
Freq_HAL  1.000000 -0.085703
SUBTLWF  -0.085703  1.000000

In [22]:
len(HF_df)

30

SUBTLEX에서 뽑아온게 맞네. 근데 HAL이랑은  왜 이렇게 달라..? 아예 거의 상관이 없다는 수준의 값인데 흠,,

그렇다면 corpus 전체으 상관값이 높더라도 corpus가 비슷하다고 할 수 없다는 걸 시사한다고 볼 수 있겠지.

그렇다면 단순 빈도만으로는 설명할 수 잇는데 한계가 있다고 하고, corpus간의 유사성을 분석하는 기존 선행 연구들을 찾아볼 필요가 있겠네

## Wouter et al. (2008)

The frequency effect in second-language
visual word recognition

In [34]:
HF_df = pd.DataFrame(
    {
        'Word': ['balcony', 'birthrate', 'catacomb', 'ceiling', 'ceremony', 
                 'crystal', 'detour', 'deviation', 'diver', 'enquirer', 
                 'fairness', 'flame', 'font', 'graph', 'lawn', 
                 'liberty', 'melon', 'peanut', 'pirate', 'portion', 
                 'puma', 'salary', 'seaman', 'stair', 'waist'
                 ]
    }
)
HF_df.head()

        Word
0    balcony
1  birthrate
2   catacomb
3    ceiling
4   ceremony

In [35]:
LF_df = pd.DataFrame(
    {
        'Word': ['afternoon', 'council', 'couple', 'court', 'daughter', 
                 'dress', 'floor', 'freedom', 'garden', 'health', 
                 'income', 'industry', 'member', 'morning', 'process', 
                 'promise', 'result', 'river', 'secrertary', 'sign', 
                 'teacher', 'town', 'truth', 'union', 'worker'
                 ]
    }
)
LF_df.head()

        Word
0  afternoon
1    council
2     couple
3      court
4   daughter

In [36]:
pd.merge(df, HF_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.565935
CSAT_Freq  0.565935   1.000000

In [37]:
pd.merge(df, LF_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.410239
CSAT_Freq  0.410239   1.000000

In [38]:
pd.merge(df, HF_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000  -0.054567
CSAT_Freq -0.054567   1.000000

In [39]:
pd.merge(df, LF_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000  -0.085878
CSAT_Freq -0.085878   1.000000

In [40]:
pd.merge(df, HF_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].corr()

           SUBTLWF  Freq_HAL
SUBTLWF   1.000000  0.395927
Freq_HAL  0.395927  1.000000

In [41]:
pd.merge(df, LF_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].corr()

           SUBTLWF  Freq_HAL
SUBTLWF   1.000000  0.032407
Freq_HAL  0.032407  1.000000

앤 또 HAL이랑 비슷하네.

# Xiaocong Chen et al.(2018)

On the predictive validity of various corpus-based frequency norms in L2 English lexical processing

In [42]:
F_df = pd.DataFrame(
    {
        'Word': ['absolute', 'accrue', 'acid', 'admiral', 'affair', 
                 'again', 'agreed', 'allowed', 'amazement', 'american', 
                 'analysis', 'anchor', 'angriest', 'announces', 'another', 
                 'arisen', 'ashes', 'assign', 'atmosphere', 'attempt', 
                 'autonomous', 'available', 'avoid', 'away', 'awkward',
                 'babies', 'balconies', 'bank', 'being', 'best',
                 'bill', 'bleak', 'boast', 'body', 'bombers',
                 'box', 'bravest', 'breed', 'broader', 'bump',
                 'burial', 'bus', 'business', 'buy', 'calmer',
                 'capable', 'capture', 'cart', 'caught', 'characterize',
                 'checks', 'children', 'chosen', 'cigar', 'class',
                 'classified', 'coalition', 'coincide', 'coke', 'combat', 
                 'comes', 'comfy', 'comparison', 'computer', 'conceal', 
                 'conference', 'confession', 'confide', 'confirm', 'conquer', 
                 'consulting', 'contact', 'core', 'corridor', 'corroborate', 
                 'country', 'course', 'covering', 'creation', 'credit', 'crouch', 
                 'cultural', 'curl', 'currently', 'danger', 'day', 'dazzle', 'dealt', 
                 'dearer', 'debut', 'decent', 'declares', 'densest',
                 'development', 'different', 'diminishes', 'diplomat', 'discovery', 
                 'dishes', 'disliked', 'distance', 'distributed', 'division', 'dominant', 'done', 'down',
                 'drawn', 'drives', 'driveway', 'dug', 'during', 'easiest', 'east', 'eaten', 'ecstatic',
                 'edge', 'edifice', 'employer', 'emulation', 'enough', 'entertainment', 'environment', 'episodes', 'excellent', 'excuse', 'experience', 'extracted',
                 'factories', 'fade', 'fancier', 'fans', 'fantastic', 'far', 'fatter', 'fear', 'feet', 'few',
                 'fiercest', 'file', 'fire', 'flagrant', 'flirt', 'fold', 'forced', 'frees', 'fuel', 'fullest',
                 'funniest', 'gathered', 'geese', 'generations', 'gets', 'glasses', 'god', 'gold',
                 'good', 'gospel', 'government', 'gross', 'guys', 'habit', 'happen', 'having',
                 'healthier', 'heard', 'heavy', 'hid', 'highest', 'himself', 'honey', 'hose', 'human', 'hybrid', 'implies', 'incredibly', 'induction', 'information',
                 'installed', 'international', 'island', 'issue', 'its', 'jaunt', 'jewel', 'jingle', 'job',
                 'keep', 'kind', 'knives', 'knowledge', 'known', 'last', 'later', 'latex', 'launch',
                 'leagues', 'lifeboat', 'linking', 'listed', 'loathed', 'looking', 'luckier', 'lumber', 'maintains', 'major', 'manhood', 'manor', 'mean', 'meetings', 'mice',
                 'minister', 'mirror', 'morning', 'mouths', 'move', 'must', 'nastier', 'necessary', 'nerve', 'never', 'nights', 'noisier', 'normal', 'numbers', 'office', 'older',
                 'opportunity', 'orientation', 'outbreak', 'pamper', 'particle', 'patron',
                 'peaches', 'pebble', 'perhaps', 'perimeter', 'periodic', 'picking', 'place',
                 'played', 'pleasure', 'plunging', 'plus', 'possession', 'pound', 'presidential',
                 'prevent', 'probably', 'problems', 'products', 'prototypes',
                 'provides', 'punched', 'purchases', 'purest', 'quarter', 'quieter', 'reasonably', 'received', 'reef', 'relating', 'relationship', 'requires', 'response',
                 'responsible', 'reveal', 'revival', 'ribbon', 'richest', 'right', 'rises', 'roast',
                 'room', 'rough', 'ruler', 'running', 'sadism', 'sat', 'saying', 'second', 'security',
                 'seems', 'selection', 'sentencing', 'separating', 'services', 'session',
                 'shorter', 'shout', 'silence', 'slam', 'slaughter', 'slow', 'sometimes', 'south',
                 'square', 'stakes', 'stamp', 'starting', 'state', 'statistics', 'steady', 'stories',
                 'strain', 'strongest', 'student', 'successor', 'sung', 'surprise', 'surveillance',
                 'tagging', 'taxes', 'tear', 'telescope', 'territories', 'terror', 'textual', 'theme',
                 'thieves', 'those', 'thought', 'tile', 'till', 'today', 'together', 'tolerance', 'torches',
                 'total', 'touchy', 'toxicology', 'tragedies', 'trail', 'transport', 'trouble',
                 'turned', 'twist', 'type', 'uglier', 'uncover', 'under', 'understand', 'universities', 'unless', 'upbringing', 'visitor', 'vocal', 'vulnerable', 'walk', 'wavy',
                 'way', 'weapon', 'weekend', 'weird', 'welcome', 'went', 'wide', 'withhold',
                 'wonder', 'work', 'worn', 'worthiest', 'wound', 'yarn', 'year', 'yes', 'yonder', 'zone',
                 ]
    }
)
len(F_df)

367

In [43]:
pd.merge(df, F_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.840761
CSAT_Freq  0.840761   1.000000

In [44]:
pd.merge(df, F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000   0.579647
CSAT_Freq  0.579647   1.000000

In [45]:
pd.merge(df, F_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].corr()

           SUBTLWF  Freq_HAL
SUBTLWF   1.000000  0.674131
Freq_HAL  0.674131  1.000000

잘 생각해볼 포인트. HAL이랑 SUBTLEX의 크기를 생각해보면 상관이 저렇게 나올 이유가 있을까?

# Shusaku et el.(2022)

Word learning and lexicalization in a second language: Evidence
from the Prime lexicality effect in masked form priming

In [45]:
related_prime_F_df = pd.DataFrame(
    {
        'Word': ['abode', 'aglow', 'bunk', 'colt', 'knack', 
                 'lank', 'mucky', 'omen', 'slant', 'skid', 
                 'stow', 'latch', 'awry', 'bash', 'blob', 
                 'chasm', 'coda', 'fount', 'nigih', 'douse'
                 ]
    }
)
len(related_prime_F_df)

20

In [46]:
pd.merge(df, related_prime_F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']]

    SUBTLWF  CSAT_Freq
0      0.65        NaN
1      0.47        NaN
2      0.55        NaN
3      3.27        NaN
4      1.18        NaN
5      6.27        NaN
6      0.35        NaN
7      0.14        NaN
8      5.24        NaN
9      0.80        NaN
10     2.49        NaN
11     0.02        NaN
12     1.92        NaN
13     0.18        NaN
14     1.71        NaN
15     2.18        NaN
16     1.14        NaN
17     1.25        NaN

In [47]:
control_prime_F_df = pd.DataFrame(
    {
        'Word': ['flirt', 'furry', 'yarn', 'kick', 'flute', 
                 'tend', 'sheet', 'flux', 'curly', 'puff', 
                 'lava', 'bells', 'edit', 'twin', 'jive', 
                 'wired', 'sink', 'media', 'romp', 'inch'
                 ]
    }
)
len(control_prime_F_df)

20

In [49]:
pd.merge(df, control_prime_F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000   0.941369
CSAT_Freq  0.941369   1.000000

# Adel et al.(2022)

The elusive impact of L2 immersion on translation priming

stimuli word from SUBTLEX-UK

In [46]:
control_prime_F_df = pd.DataFrame(
    {
        'Word': ['law', 'year', 'love', 'mess', 'hate', 
                 'harm', 'aunt', 'boss', 'side', 'chill', 
                 'night', 'twin', 'party', 'pity', 'mix', 
                 'size', 'trip', 'anger', 'dream', 'bunch',
                 'dirt', 'haste', 'half', 'life', 'place', 
                 'glow', 'roar', 'smell', 'work', 'army', 
                 'chess', 'crowd', 'end', 'fact', 'hustle', 
                 'morning', 'smile', 'clash', 'strain', 'strike',
                 'truce', 'level', 'bounce', 'bribe', 'feat', 
                 'plunge', 'prayer', 'drought', 'raise', 'scope', 

                 'chapter', 'truth', 'flu', 'task', 'owner', 
                 'winter', 'youth', 'craving', 'buzz', 'charm',
                 'design', 'surge', 'hangover', 'hunger', 'prank', 
                 'setback', 'flurry', 'praise', 'profile', 'relief', 
                 'script', 'meeting', 'sadness', 'weather', 'belief', 
                 'change', 'deceit', 'delight', 'help', 'glimpse',
                 'guest', 'madness', 'friend', 'pursuit', 'height', 
                 'scolding', 'sense', 'shortage', 'trait', 'injury', 
                 'void', 'width', 'alibi', 'pleasure', 'coldness', 
                 'demise', 'outcry', 'essay', 'flight', 'goodness',
                 'ghost', 'handful', 'hoax', 'intake', 

                 'mayhem', 'misstep', 'mortgage', 'medley', 'noise', 
                 'payroll', 'retreat', 'miracle', 'threat', 'gang', 
                 'success', 'whisper', 'famine', 'beauty', 'award',
                 'asset', 'cousin', 'defeat', 'plot', 'effort', 
                 'goddess', 'clue', 'harvest', 'proof', 'breed', 
                 'burial', 'laziness', 'gamble', 'gossip', 'guilt',
                 'health', 'insanity', 'jeopardy', 'jump', 'measure', 
                 'portrait', 'realm', 'affair', 'soul', 'stealth', 
                 'warmth', 'query', 'advice', 'business', 'heaven',
                 'outbreak', 'nuisance', 'shortcut', 'likeness', 'arrival', 
                 'closure', 'people', 'death', 'delivery', 

                 'hunt', 'today', 'duty', 'source', 'leisure', 
                 'support', 'century', 'courage', 'brand', 'income', 
                 'oblivion', 'motto', 'account', 'dinner', 'thirst',
                 'view', 'wedding', 'evil', 'leftover', 'month', 
                 'struggle', 'sorrow', 'failure', 'weight', 'burden', 
                 'wrath', 'lullaby', 'laughter', 'step', 'fashion',
                 'faith', 'casualty', 'layer', 'nose', 'bear', 
                 'sun', 'coat', 'swan', 'heel', 'comb', 
                 'fist', 'hanger', 'king', 'moon', 'witch',
                 'soap', 'river', 'nail', 'watch', 'milk', 
                 'owl', 'snow', 'chain', 'grape', 'puddle',

                 'nest', 'seal', 'pocket', 'wall', 'bird', 
                 'goat', 'horn', 'honey', 'neck', 'oven', 
                 'spoon', 'money', 'waiter', 'wallet', 'glove',
                 'skunk', 'suit', 'lighter', 'scarf', 'sheep', 
                 'snail', 'whale', 'arrow', 'beard', 'corner', 
                 'clown', 'ankle', 'apple', 'drawer', 'eye',
                 'spider', 'woman', 'magnet', 'nipple', 'painting', 
                 'key', 'onion', 'bull', 'chair', 'dress', 
                 'coffin', 'bridge', 'door', 'lobster', 'bed',
                 'trigger', 'pumpkin', 'pencil', 'wheat', 'umbrella', 
                 'wing', 'avocado', 'cucumber', 'hedgehog', 'ostrich',

                 'rabbit', 'shield', 'window', 'chruch', 'finger', 
                 'forest', 'fairly', 'scissors', 'shower', 'skirt', 
                 'squirrel', 'mirror', 'shadow', 'needle', 'shoulder',
                 'thumb', 'wardrobe', 'waitress', 'box', 'hand', 
                 'hair', 'table', 'octopus', 'cherry', 'walrus', 
                 'duck', 'egg', 'donkey', 'cheese', 'rubber',
                 'queen', 'suitcase', 'fence', 'turkey', 'wolf', 
                 'mouth', 'chicken', 'frog', 'thread', 'candle', 
                 'kithen', 'bullet', 'face', 'parrot', 'elbow',
                 'house',
                 ]
    }
)
len(control_prime_F_df)

314

In [9]:
control_prime_F_df

       Word
0       law
1      year
2      love
3      mess
4      hate
..      ...
309  bullet
310    face
311  parrot
312   elbow
313   house

[314 rows x 1 columns]

In [10]:
pd.merge(df, control_prime_F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000   0.787517
CSAT_Freq  0.787517   1.000000

In [47]:
pd.merge(df, control_prime_F_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.872116
CSAT_Freq  0.872116   1.000000

In [11]:
pd.merge(df, control_prime_F_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].corr()

           SUBTLWF  Freq_HAL
SUBTLWF   1.000000  0.769079
Freq_HAL  0.769079  1.000000

얘는 상관을 보니, 우리가 비슷하다고 생각했던 전형적인 모습.

In [14]:
pd.merge(df, control_prime_F_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].sort_values(by='SUBTLWF', ascending=False).reset_index(drop=True)

     SUBTLWF  Freq_HAL
0    1114.98    165830
1    1102.98    768168
2     921.12    335483
3     866.04     97524
4     798.02    451298
..       ...       ...
305     0.47       200
306     0.33       184
307     0.29       983
308     0.24       667
309     0.20        47

[310 rows x 2 columns]

In [15]:
pd.merge(df, control_prime_F_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].describe()

           SUBTLWF       Freq_HAL
count   310.000000     310.000000
mean     65.864129   29637.625806
std     153.847221   67199.253893
min       0.200000      47.000000
25%       5.782500    2584.750000
50%      14.825000    8222.000000
75%      48.690000   24973.500000
max    1114.980000  768168.000000

# Wolter et al.(2011)

Collocational Links in the L2 Mental Lexicon and the Influence of L1 Intralexical Knowledge

In [49]:
control_prime_F_df = pd.DataFrame(
    {
        'Word': ['spend', 'express', 'treat', 'take', 'miss', 'cause', 'heal', 'make', 'find', 'open', 'sign',
                 'fight', 'join', 'seek', 'send', 'watch', 'visit', 'break', 'pay', 'raise', 'book', 'feed',
                 'rob', 'avoid', 'boil', 'abandon', 'show', 'press', 'lift', 'bear', 'call', 'plant',
                 'lay', 'lend', 'entertain', 'draw', 'grow', 'suffer', 'steal', 'speak', 'throw', 
                 'pass', 'work', 'jump', 'catch', 'exercise', 'bend', 'keep', 'have', 'say', 'bite', 'adopt',
                 'lose', 'fly', 'foot', 'assume', 'do', 'cast', 'spread', 'run', 'see', 'give', 'stand', 
                 'learn', 'win', 'create', 'read', 'follow', 'defend', 'pose', 'fudge', 'invite', 'clear', 'tell', 
                 'leave', 'ensure', 'elect', 'like', 'play', 'set', 'bare', 'view', 'claim', 'collect', 'stay', 'hear', 'ease',
                 'score', 'limit', 'submit', 'use', 'produce', 'inflict', 'share', 'trace', 'feel'
                ]
    }
)
len(control_prime_F_df)

96

In [51]:
control_prime_F_df['Word'].nunique()

96

In [55]:
pd.merge(df, control_prime_F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000   0.904503
CSAT_Freq  0.904503   1.000000

In [56]:
pd.merge(df, control_prime_F_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.924269
CSAT_Freq  0.924269   1.000000

In [58]:
pd.merge(df, control_prime_F_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].corr()

           SUBTLWF  Freq_HAL
SUBTLWF   1.000000  0.897063
Freq_HAL  0.897063  1.000000

In [54]:
target_F_df = pd.DataFrame(
    {
        'Word': ['fortune', 'opinion', 'patient', 'bus', 'oppertunity', 'problem', 'film', 'job', 'account', 'contract', 'war',
                 'club', 'help', 'message', 'television', 'friend', 'law', 'debt', 'hand', 'table', 'cat', 'bank', 'collision', 'egg', 'ship', 'interest', 'button', 'finger', 'cost', 'meeting', 'tree',
                 'visit', 'record', 'idea', 'blood', 'beard', 'injury', 'thunder', 'volume', 'party', 'judgement', 'miracle', 'queue', 'cold', 'right', 'rule', 'diary', 'abortion', 'prayer', 'bullet', 'policy', 'sleep', 'flag', 'bill', 'responsibility', 'justice', 'vote', 'word', 'business', 'doctor', 'birth', 'chance', 
                 'settlement', 'metal', 'issues', 'user', 'approval', 'sales', 'shares', 'production', 'success', 'survival', 'rug',
                 'world', 'pattern', 'rest', 'case', 'individuals', 'couple', 'fuel', 'outcome',
                 'questions', 'models', 'fees', 'part', 'bottle', 'power', 'things', 'legislation', 'song', 'course', 'future', 'police', 'place', 'emphasis'
                ]
    }
)
len(target_F_df)

95

In [53]:
target_F_df.Word.nunique()

95

In [59]:
pd.merge(df, target_F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000   0.489234
CSAT_Freq  0.489234   1.000000

In [61]:
pd.merge(df, target_F_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.738169
CSAT_Freq  0.738169   1.000000

In [62]:
pd.merge(df, target_F_df, how='inner', on='Word')[['Freq_HAL', 'SUBTLWF']].corr()

          Freq_HAL   SUBTLWF
Freq_HAL  1.000000  0.645376
SUBTLWF   0.645376  1.000000

# Chen et al.(2013)

Cross-Language Translation Priming Asymmetry with Chinese-English Bilinguals: A Test of the Sense Model

In [67]:
list1_F_df = pd.DataFrame(
    {
        'Word': ['earth', 'exercise', 'fall', 'key', 'make', 'park',
                 'play', 'book', 'couple', 'doctor', 'free', 'field', 'gift', 'glass', 
                 'happen', 'knock', 'cold', 'letter', 'foot', 'country', 'lion', 'candle', 
                 'button', 'secret', 'grammar', 'height', 'finger', 'emotion'
                 ]
    }
)
len(list1_F_df)

28

In [69]:
pd.merge(df, list1_F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000   0.938492
CSAT_Freq  0.938492   1.000000

In [70]:
pd.merge(df, list1_F_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.941449
CSAT_Freq  0.941449   1.000000

In [71]:
pd.merge(df, list1_F_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].corr()

           SUBTLWF  Freq_HAL
SUBTLWF   1.000000  0.900372
Freq_HAL  0.900372  1.000000

In [68]:
list2_F_df = pd.DataFrame(
    {
        'Word': ['head', 'bank', 'hold', 'father', 'habit', 'exam', 'factory', 
                 'heaven', 'autumn', 'prince', 'rocket', 'kitchen', 'panda', 'back',
                 'goal', 'great', 'hard', 'hurt', 'light', 'like', 'major', 'present', 
                 'power', 'right', 'room', 'star', 'tie', 'drive'
                 ]
    }
)
len(list2_F_df)

28

In [73]:
pd.merge(df, list2_F_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].corr()

           SUBTLWF  Freq_HAL
SUBTLWF   1.000000  0.869837
Freq_HAL  0.869837  1.000000

In [74]:
pd.merge(df, list2_F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000   0.814763
CSAT_Freq  0.814763   1.000000

In [75]:
pd.merge(df, list2_F_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.888713
CSAT_Freq  0.888713   1.000000

# Yoonhyoung Lee et al.(2018)

L2-L1 Translation Priming Effects in a Lexical Decision Task: Evidence From Low Proficient Korean-English Bilinguals

In [79]:
list1_F_df = pd.DataFrame(
    {
        'Word': ['foot', 'face', 'door', 'hand', 'meat', 'food',
                 'bird', 'fact', 'road', 'math', 'child', 'woman', 'watch', 'water', 
                 'story', 'place', 'night', 'honey', 'fight', 'death', 'school', 'police', 
                 'person', 'number', 'mother', 'friend', 'family', 'father',
                 'finger', 'doctor', 'vice', 'envy', 'soul', 'fame', 'pity', 'hell', 'rage', 'plow',
                 'vote', 'germ', 'titan', 'width', 'latter', 'vapor', 'snail', 'hippo', 'vowel', 'stair', 
                 'panic', 'mercy', 'parrot', 'insect', 'theory', 'crisis', 'legend', 'plague', 'credit',
                 'profit', 'genius', 'treaty'
                 ]
    }
)
len(list1_F_df)

60

In [80]:
pd.merge(df, list1_F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000   0.494026
CSAT_Freq  0.494026   1.000000

In [82]:
pd.merge(df, list1_F_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.756581
CSAT_Freq  0.756581   1.000000

In [81]:
pd.merge(df, list1_F_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].corr()

          SUBTLWF  Freq_HAL
SUBTLWF   1.00000   0.55729
Freq_HAL  0.55729   1.00000

In [78]:
list2_F_df = pd.DataFrame(
    {
        'Word': ['wine', 'year', 'wife', 'week', 'skin', 'team', 'rule', 
                 'hair', 'step', 'clue', 'fault', 'whole', 'uncle', 'money',
                 'other', 'worry', 'world', 'seven', 'heart', 'house', 'excuse', 'dinner', 
                 'office', 'nobody', 'course', 'matter', 'minute', 'enough',
                 'throat', 'second', 'wing', 'bait', 'wall', 'beam', 'wood', 'room', 'boot', 'wasp', 'view',
                 'sage', 'toner', 'koala', 'trait', 'usage', 'sedan', 'otter', 'prism', 'slang', 
                 'value', 'thief', 'summit', 'gospel', 'toilet', 'patrol', 'tunnel', 'coffin', 'speech', 'wisdom',
                 'yellow', 'pastor'
                 ]
    }
)
len(list2_F_df)

60

In [83]:
pd.merge(df, list2_F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000   0.592097
CSAT_Freq  0.592097   1.000000

In [84]:
pd.merge(df, list2_F_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL    1.00000    0.91414
CSAT_Freq   0.91414    1.00000

In [85]:
pd.merge(df, list2_F_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].corr()

           SUBTLWF  Freq_HAL
SUBTLWF   1.000000  0.701329
Freq_HAL  0.701329  1.000000

# Adel et al.(2022)

Individual differences in bilingual word
recognition: The role of experiential factors and
word frequency in cross-language lexical
priming

In [86]:
target_F_df = pd.DataFrame(
    {
        'Word': ['grandpa', 'steel', 'cotton', 'ring', 'lift', 'hazelnut', 'tray', 'flag', 'forest', 'lorry', 'crab', 'candy', 'folder', 'wallet', 'onion', 'brush', 'cherry', 'basket', 'scar', 'spoon', 'knife', 'homework',
                 'duvet', 'dwarf', 'sheild', 'sword', 'arrow', 'brake', 'cookie', 'worm', 'axe',
                 'wound', 'pencil', 'corn', 'blanket', 'dough', 'coin', 'walnut', 'umbrella', 'clown', 'ruler', 'silk',
                 'nephew', 'keyboard', 'fabric', 'scissors', 'ink', 'wheat', 'grape', 'candle'
                 ]
    }
)
len(target_F_df)

50

In [87]:
pd.merge(df, target_F_df, how='inner', on='Word')[['SUBTLWF', 'CSAT_Freq']].corr()

            SUBTLWF  CSAT_Freq
SUBTLWF    1.000000  -0.299544
CSAT_Freq -0.299544   1.000000

In [88]:
pd.merge(df, target_F_df, how='inner', on='Word')[['Freq_HAL', 'CSAT_Freq']].corr()

           Freq_HAL  CSAT_Freq
Freq_HAL   1.000000   0.200095
CSAT_Freq  0.200095   1.000000

In [89]:
pd.merge(df, target_F_df, how='inner', on='Word')[['SUBTLWF', 'Freq_HAL']].corr()

           SUBTLWF  Freq_HAL
SUBTLWF   1.000000  0.538351
Freq_HAL  0.538351  1.000000